  <h1>Angular Weather App</h1>
<div class="container">
  <div class="top-data">
    <img src="../assets/sunny.PNG" *ngIf="temperature > 12">
    <img src="../assets/cold..PNG" *ngIf="temperature <= 12">

    <div class="weather-data">
      <div class="location"></div>
      <div class="temperature">{{temperature}}°C</div>
      <div>
      </div>
    </div>
  </div>

  <div class="bottom-data">
    <div class="information">
      More information:
      <br>
      <button class="small-btn" (click)="getLocation()">Temperature</button>
    </div>
    <div class="miContainer">
      <div class="info-block">
        <div class="ib-label">
          <img src="../assets/cold_weather.png">
          <span>min</span>
        </div>
        <div class="ib-value">
          10°C
        </div>
      </div>

      <div class="info-block">
        <div class="ib-label">
          <img src="../assets/hot_weather.png">
          <span>max</span>
        </div>
        <div class="ib-value">
          20°C
        </div>
      </div>
     

    </div>
    <div class="coordinates">
      <h3>Coordinates:</h3>
    <p class="coords">{{coordinates}}</p>
    </div>

  </div>
  
</div>




<router-outlet></router-outlet>
