<!-- <div class="container">
  <div class="top-data">
    <img src="../assets/sunny.PNG" *ngIf="14 > 15">
    <img src="../assets/cold..PNG" *ngIf="14 <= 15">

    <div class="weather-data">
      <div class="location">Cape Town</div>
      <div class="temperature">{{ 14.40 | number: '1.0-0'}}°C</div>
    </div>
  </div>

  <div class="bottom-data">
    <div class="information">
      More information
    </div>
    <div class="miContainer">
      <div class="info-block">
        <div class="ib-label">
          <img src="../assets/cold_weather.png">
          <span>min</span>
        </div>
        <div class="ib-value">
          10°C
        </div>
      </div>

      <div class="info-block">
        <div class="ib-label">
          <img src="../assets/hot_weather.png">
          <span>max</span>
        </div>
        <div class="ib-value">
          20°C
        </div>
      </div>

      <div class="info-block">
        <div class="ib-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="ib-value">
          77%
        </div>
      </div>

      <div class="info-block">
        <div class="ib-label">
          <img src="../assets/windyy.png">
          <span>wind</span>
        </div>
        <div class="ib-value">
          11 km/h
        </div>
      </div>

    </div>
  </div>
  
</div> -->




<div>
  <p>Click the button to get your coordinates.</p>

  <button (click)="getLocation()">coordinates</button>

  <p id="cords">{{coordinates}}</p>
</div>






<!-- 
<div>
  <p>Click the button to get your coordinates.</p>

  <button (click)="getLocation()">Try It</button>

  <p id="cords">{{coordinates}}</p>

  <p>{{weatherData}}</p>
</div> -->

<router-outlet></router-outlet>
